<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>addtocartshaker</name>
	<displayName><![CDATA[Add to Cart Shaker]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Animate your add to cart button]]></description>
	<author><![CDATA[Gerard Luque]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
